.landing-card {
  background-color: #fff !important;
  background-image: url('../images/ashim-d-silva-iIgr4k00IK4-unsplash.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative !important;
}

.landing-card h1,
.landing-card p {
  position: relative;
}

.landing-card * {
  z-index: 1 !important;
}

.landing-card::after {
  content: '';
  background-color: rgba(44, 44, 44, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.recipe-card {
  position: relative;
  width: 18rem;
  height: 25rem;
}

.recipe-card-link-position {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 2rem;
}

.two-lines-only {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.recipebg {
  border-radius: 5px;
  box-shadow: 0 0 3px rgb(189, 189, 189);
}

.light-shadow {
  box-shadow: 0 0 2px rgb(189, 189, 189);
}

.userbgc {
  background-color: #ffffff;
}

.br {
  border-right: 1px solid rgb(184, 184, 184);
}

/* Video iframe size media queries */

@media (min-width: 1011px) {
  .iframe-wrapper {
    height: 405px;
  }
}
@media (max-width: 1010px) {
  .iframe-wrapper {
    height: 405px;
  }
}

@media (min-width: 990px) {
  .landing-card {
    padding-top: 15vh !important;
    padding-bottom: 15vh !important;
  }
}

@media (max-width: 800px) {
  .iframe-wrapper {
    height: 270px;
  }

  .sm-bot {
    margin-bottom: 1rem;
  }
}

@media (max-width: 590px) {
  .iframe-wrapper {
    height: 225.1px;
  }
}

@media (max-width: 500px) {
  .iframe-wrapper {
    height: 200px;
  }
}
