body {
  background-color: #fbfcf7;
}

.landing-card {
  background-color: #fff !important;
  background-image: url('../images/ashim-d-silva-iIgr4k00IK4-unsplash.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative !important;
}

.landing-card * {
  z-index: 1 !important;
}

.landing-card::after {
  content: '';
  background-color: rgba(44, 44, 44, 0.7);
  position: absolute;
  border-radius: 0.4rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.recipe-card {
  position: relative;
  width: 18rem;
  height: 25rem;
}

.recipe-card-link-position {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 2rem;
}

.two-lines-only {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.recipebg {
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(189, 189, 189);
}

@media (min-width: 990px) {
  .landing-card {
    padding-top: 15vh !important;
    padding-bottom: 15vh !important;
  }
}
